<div class="container">
  <div *ngIf="errorMessage">
    {{errorMessage}}
  </div>
  <table class="table" *ngIf="bills" >
    <thead>
    <tr>
      <th>ID</th><th>Bill-Date</th><th>Customer ID</th><th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let b of bills |async as Bill">
      <td>{{b.id}}</td>
      <td>{{b.billdate}}</td>
      <td>{{b.customerId}}</td>
      <td>{{b.status}}</td>
      <td>
        <button class="btn btn-success" (click)="getBillDetails(b)">Bill Details</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
